
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto&family=Sora:wght@100;200;300;400;500&display=swap');

$background-color : #f4f4f4;
$main-color: #F96703;
$black-color: #2C343F;
$white-color: #f4f4f4;

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; // will work when user change browser font
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: $background-color;
}

// Error Page CSS
.error-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $black-color;
    margin: 10vw 10vw;
    font-family: 'Montserrat', sans-serif;

    &-issues {
        margin-top: 2rem;
    }

    &-info {
        display: flex;
        flex-direction: column;
        height: 60vh;

        & ul {
            & li {
                line-height: 1.6rem;
                margin: 1rem;
            }
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;     
    }

    &-button-1 {
        background-color: $main-color !important;
        box-shadow: none !important;
    }

    &-button-2 {
        background-color: $black-color !important;
        color: $white-color !important;
        margin-left: 1rem !important;
    }

    &_image {
        width: 35vw;
    }
}

.center{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40dvw;
    aspect-ratio: 1/1;
}

.link {
    text-decoration: none;
    color: $black-color;

    &:hover {
        color: $main-color;
    }
}

.space {
    margin: 0 1rem;
}

.navlink {
    color: $black-color;
    &:hover {
        color: $main-color;
    }
}